<svelte:component this={page} {id} />
<script>
  import { createAuth } from './auth'
  import router from 'page'
  import { path } from 'ramda'

  import Signin from './Signin.svelte'
  import Stores from './Stores.svelte'
  import Pets from './Pets.svelte'
  import NewPet from './PetsNewForm.svelte'
  import ShowPet from './PetsShowPet.svelte'
  import Users from './Users.svelte'
  import NewUser from './UsersNewForm.svelte'

  let config = {
    domain: "test-tenant63.auth0.com",
    client_id: "2kSAA1dKRwOwgNP7xHe1nfJY8SBbc2Ey",
    audience: "https://pets.dev",
    scope: "profile email"
  }

  const {
    isAuthenticated,
    userInfo
    } = createAuth(config);

  let page = null
  let id = null

  router('/', () => { 
    page = Signin 
  })
  router('/pets/new', (ctx) => {
    if ($isAuthenticated) {
      page = NewPet
    } else {
      page = Signin
    }
  })
  router('/pets/:id', (ctx) => {
    id = path(['params', 'id'], ctx)
    if ($isAuthenticated) {
      page = ShowPet
    } else {
      page = Signin
    }
  })

  router('/pets', (ctx) => {
    if ($isAuthenticated) {
      page = Pets
    } else {
      page = Signin
    }
  })
  router('/admin', (ctx) => {
    if ($isAuthenticated && $userInfo['https://pets.dev/roles'].includes('admin')) {
      page = Users
    } else {
      page = Signin
    }
  })
  router('/users/new', (ctx) => {
    if ($isAuthenticated && $userInfo['https://pets.dev/roles'].includes('admin')) {
      page = NewUser
    } else {
      page = Signin
    }
  })

  router.start()

</script>
