<script>
  import route from 'page'
  import { getAuth } from './auth.js'

  
  let name
  let type
  
  const { authToken } = getAuth()

  async function submit() {
    const res = await fetch('/api/pets', {
      headers: { 
        'content-type': 'application/json',
        authorization: `Bearer ${$authToken}`
      },
      body: JSON.stringify({
        name,
        type
      }),
      method: 'POST'
    }).then(res => res.json())
    if (res.ok) {
      route('/pets')
    }
  }

</script>

<h3>Add a new Pet</h3>
<form on:submit|preventDefault={submit}>
  <fieldset>
    <label>Name</label>
    <input bind:value={name} type="text" />
  </fieldset>
  <fieldset>
    <label>Type</label>
    <select bind:value={type}>
      <option>Select</option>
      <option>Dog</option>
      <option>Cat</option>
      <option>Other</option>
    </select>
  </fieldset>
  <button type="submit">Submit</button>
  <a href="/pets">Cancel</a>
</form>
