<script>
  import { getAuth } from './auth.js'

  const { userInfo, authToken, logout } = getAuth()
  const getPets = () => 
    fetch('/api/pets', { 
      headers: {
        'content-type': 'application/json',
        authorization: `Bearer ${$authToken}`
      }
    })
      .then(res => res.json())

  const isAdmin = () => $userInfo['https://pets.dev/roles'].includes('admin')
</script>
<h4>User: {$userInfo.email}</h4>
<p>Pets available</p>
<a href="/pets/new">Add new pet</a>
{#await getPets()}
  <div>Loading Pets...</div>
{:then pets}
  <ul>
    {#each pets as pet}
      <li><a href="/pets/{pet.id}">{pet.name}</a></li>
    {/each}
  </ul>

<div>
  {#if isAdmin()}
  <a href="/admin">Admin</a>
  {/if}
  <button on:click={() => logout()}>Logout</button>
</div>
{:catch error}
  <h1>ERROR cant find pets for store</h1>
{/await}
