<script>
import { getAuth } from './auth.js'

export let id

const { authToken } = getAuth()

const pet = () => fetch(`/api/pets/${id}`, {
    headers: { 
      'content-type': 'application/json', 
      authorization: `Bearer ${$authToken}`
    }
  })
  .then(res => res.json())
</script>

<h3>Pet Details</h3>
<a href="/pets">Return to Store</a>

{#await pet()}
<div>Loading...</div>
{:then pet}
<div>
  <h3>Name: {pet.name}</h3>
  <p>Type: {pet.type}</p>
  <p>Age: </p>
</div>
{:catch error}
<h3>Error Occured loading pet</h3>
{/await}
