<script>
import { getAuth } from './auth'
import { onMount } from 'svelte'
import router from 'page'

const { login, logout, isAuthenticated, userInfo, authToken } = getAuth()

let doLogout = () => {
  logout()
}

</script>
{#if $isAuthenticated}
<div>Authenticated</div>
<button on:click={() => doLogout()}>Logout</button>
<div>{JSON.stringify($userInfo)}</div>
<div>{$authToken}</div>
<a href="/pets">Get Started</a>
{:else}
<button on:click={() => login()}>Login</button>
{/if}
