<script>
  const stores = fetch('/api/stores', { headers: { 'content-type': 'application/json'}}).then(res => res.json())
</script>

<h1>Pet Stores</h1>

{#await stores}
  <div>Loading...</div>
{:then allStores}
  <ul>
    {#each allStores as store}
      <li><a href="/{store}">{store}</a></li>
    {/each}
  </ul>
{:catch error}
  <h1>ERROR Occured loading Stores</h1>
{/await}

