<script>
import { getAuth } from './auth.js'
import router from 'page'

const { authToken } = getAuth()
let email, password, isAdmin


function submit() {
  console.log({ email, password, isAdmin})
  fetch('/api/users', {
    headers: {
      'content-type': 'application/json',
      authorization: `Bearer ${$authToken}`
    },
    method: 'POST',
    body: JSON.stringify({ email, password, isAdmin})
  }).then(res => res.json())
    .then(results => {
      if (results.ok) {
        // navigate back to users
        router('/admin')
      }
    })
}
</script>
<h3>Create User</h3>
<form on:submit|preventDefault={submit}>
  <legend>Enter Email and Password</legend>
  <fieldset>
    <label>Email</label>
    <input bind:value={email} type="email" />
  </fieldset>
  <fieldset>
    <label>Password</label>
    <input bind:value={password} type="password" />
  </fieldset>
  <fieldset>
    <label>Is Administrator</label>
    <input bind:checked={isAdmin} type="checkbox" />
  </fieldset>
  <button type="submit">Create User</button>
  <a href="/admin">Cancel</a>
</form>
