<script>
import { getAuth } from './auth.js'

const { authToken } = getAuth()

const users = () => fetch('/api/users', {
  headers: {
    'content-type': 'application/json',
    authorization: `Bearer ${$authToken}`
  }
}).then(res => res.json())

</script>
<h3>Users</h3>
<div><a href="/users/new">Create User</a></div>
{#await users()}
  <div>Loading...</div>
{:then list}
  {#each list as user} 
    <div class="user">
      <h3>{user.name}</h3>
      <p>Email: {user.email}</p>
      <img alt="{user.name}" src="{user.picture}" />
    </div>
  {/each}
{:catch error}
  <div>Error trying to get users</div>
{/await}
<div>
  <a href="/pets">Return to Pets</a>
</div>

